nav.nav {
  background: #000000;
}

a.nav-link {
  border: 2px solid;
  margin: 4px;
  border-radius: 8px;
  border-color: #4caf50;
  color: #ffffff;
}

.nav-link:focus,
.nav-link:hover {
  color: #ffffff;
  background: #4caf50;
}

.modal-body {
  max-height: 400px; /* Ajusta el valor según el tamaño que prefieras */
  overflow-y: auto; /* Habilita el scroll vertical */
  white-space: pre-wrap; /* Mantiene los saltos de línea en el JSON */
  word-wrap: break-word; /* Rompe palabras largas si es necesario */
}

.modal-dialog {
  max-width: 80%;
  margin: 1.75rem auto;
}
